@charset "utf-8";
/* CSS Document */

		body{ font-family: Open Sans, 'Open Sans', sans-serif;}
        .cont-fluid{padding-right: 0;padding-left: 0;margin-right: 0;margin-left: 0;}
        .header{background-color: #151c28; color: #868ca7; font-size:14px;}
		.header .col-md-12{margin:auto ;text-align:center;}
		.wraper1{margin-left:-15px; margin-right:-15px; padding-top:6px;}
		.wraper1 ul li{list-style-type:none; display:block; float:left; margin-right:30px;}
		.wraper1 ul li i{padding:5px 8px 5px 10px; font-size:18px; }
		.wraper1 ul li span a{color: white; padding: 0px 10px}
		.wraper1 ul li span a:hover{color:#ff3100; text-decoration:none; transition:ease-in 0.1s}
		.wraper2 ul { padding-top: 12px;padding-bottom: 12px;}
		.wraper2 ul li{list-style-type:none; display:block; float:left;}
		.wraper2 ul li i{ font-size: 18px; color:white; margin:0px 0px 0px 30px}
		.wraper2 ul li i:hover{color:#ff3100; transition:ease-in 0.2s;}
		.info ul li {list-style-type:none;display:block;float:right;padding: 39px 15px;}
        .info ul {margin-bottom: 0px;}
		.info ul li a i{color :white; font-size:18px;}
		.info ul li a{text-decoration: none;}
		.info ul li:hover{background-color:#263349}
		.info ul li a span {font-size:14px; font-weight:700;color: white; padding-left:15px;}
		.info ul li a sup {color:red; font-weight:700; font-size: 12px;}
		.navbar{height:100px;border: none; border-radius:0px;background-color: #002347 !important; margin-bottom: 0px; }
		.navbar .navbar-header .navbar-brand{position:absolute;overflow:hidden;height: 100%; padding: 0; width: 18%;left:40px;}
		.navbar .navbar-nav{margin-left:325px; padding: 22px 0;width: 40%;float: left;height: 100%;line-height: 70px;min-height: 99px;}
		.navbar .navbar-nav li {margin-left:12px;}
		.navbar .navbar-nav li a{color:#c0c4d7; font-weight:700;}
		.navbar .navbar-nav li a:hover {color: white }
		.navbar .navbar-nav li a span {padding: 0px 5px; font-weight:900;}
		.banner{margin-top:-20px;}
		.banner ol li{background-color:#ff3100;}
		.carousel-inner a glyphicon-chevron-right {background-color:#ff3100;}
		.banner2 {background-color:#f4f5fb; min-height:300px;padding:70px 0px 10px 0px;}
		.banner2 h5{color:#868ca7;padding-bottom: 30px;}
        .banner3{background-color:#f4f5fb;}
		.banner3 h1{color: #283346; font-weight:900;}
		.banner3 h5 {color: #ff3100; font-weight:700;padding: 10px 0px 25px}
		.banner3 .well {min-height:360px; background-color:white; border: 1px solid white; box-shadow: 1px 1px 20px 1px #cbcedb;}
        .banner3 .products p .baj {font-size: 12px; color: white !important; background-color: #ff3100!important;border-bottom-right-radius: 3px;border-top-right-radius: 3px;margin-left: -20px; padding: 3px 15px;}
        .banner3 .products p .price {float: right; color:#ff3100; border-bottom: 2px solid #ff3100;}
        .banner3 .products p del {float: right; color:#a0a6c5; padding-right: 5px;}
        .banner3 .products p {color:#a0a6c5; font-size: 14px; font-weight: 700;} 
        .banner3 .products h4 {font-weight: 700; color: #283346; padding-top: 15px;}
		.hiplink a{border-bottom: 1px dotted #868ca7; color:#868ca7; text-decoration: none;transition: all 0.2s; font-size: 15px;}
        .hiplink a:hover{border-bottom: none;}
        .fbaner {background-image: url("images/fbaner.png"); min-height: 316px; border-top: 1px solid #e0e4f6; background-size:cover;}
        .hiplink{padding-bottom: 50px;}
        .fbaner button:hover {background-color: #ff4f05;color: white; }
        .fbaner button:focus {background-color: #ff4f05;color: white; outline-style: none;}
        .fbaner button {margin-top: 10px; background-color: #ff3100; border: 1px solid #ff3100; border-radius: 2px; font-weight: 700; margin-left: 5px; padding: 6px 45px; margin-top: 225px; letter-spacing: 0.5px;}
        .mbaner {background-image: url("images/mbaner.png"); min-height: 321px; background-size:cover;}
        .mbaner form button {background-color:#ff3100;color: white;font-weight: 700;padding: 7px 15px; border-top-right-radius: 3px; border-bottom-right-radius: 3px border-color:#ff3100;}
        .mbaner form input {padding: 17px 10px; border-top-left-radius: 2px; border-bottom-left-radius: 2px;}
        .mbaner form {padding-left: 0px; margin-top: 220px;}
        .mbaner form button:hover {background-color: #ff4f05;color: white; }
        .mbaner form button:focus {background-color: #ff4f05;color: white; }
        .mbaner form button:active {background-color: #ff4f05;color: white; }
        .footer{background-color: #002347 !important; min-height: 215px;padding-top: 30px;}
        .footer .fh5{font-size: 18px; color: #868ca7; font-family: sans-serif;}
        .footer .fh5 a{color: white; border-bottom: 2px solid #ff3100}
        .footer .fh5 a:hover{text-decoration: none; border: none; transition: ease-in 0.6s;}
        .footer ul {padding-left: 0px;} 
        .footer .footerlinks li {list-style: none; line-height: 30px; font-size: 15px;}
        .footer .footerlinks li a {color:white;text-decoration: none;}
        .footer .footerlinks li a:hover{border-bottom:1px solid white ;transition: 0.2s;}
        .footer .fsmlinks{padding-left: none; padding-top: 20px;}
        .footer .fsmlinks li{list-style-type:none; display:block; float: left; padding-right: 50px;}
        .footer .fsmlinks li i{ font-size:20px; color:white;}
        .footer .fsmlinks li i:hover{color:#ff3100;  transition:ease-in 0.2s;}
        .footer .fsm-ul {padding-left: 0px; padding-right: 0px;}
        .footer form button {background-color:#ff3100;color: white;font-weight: 700;padding: 7px 15px; border-top-right-radius: 3px; border-bottom-right-radius: 3px border-left:1px solid #18202e;}
        .footer form button:hover {background-color: #ff4f05;color: white; }
        .footer form button:focus {background-color: #ff4f05;color: white; }
        .footer form button:active {background-color: #ff4f05;color: white; }
        .footer form input {background-color: #18202e ;padding: 17px 10px; border-top-left-radius: 2px; border-bottom-left-radius: 2px; border-color:#324057; }
        .footer form {padding-left: 0px;margin-top: 20px;}
        .endcr{background-color: #18202e; border-top:1px solid #324057;}
        .endcr p {color:#324057;padding: 15px 0px 10px;}
